.wy-nav-top {
	background: #8261BC;
}

.wy-nav-content-wrap {
	background: #fcfcfc;
}

@media screen and (min-width: 1400px) {
	.wy-nav-content {
	    margin: auto !important;
	    max-width: 850px !important;
	}
}

.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: normal !important;
}