.toctree-wrapper {
	display: none;
}

.wy-nav-top {
	background: #F05454 !important;
}

.wy-nav-content-wrap {
	background: #fcfcfc;
}

.wy-side-nav-search input[type="text"] {
	border-color: transparent !important;
	border-radius: 0;
}

@media screen and (min-width: 1400px) {
	.wy-nav-content {
	    margin: auto !important;
	    max-width: 850px !important;
	}
}

.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: normal !important;
}